
.icon-menu:before { content: '\e800'; } /* '' */
.icon-carrito:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */